<div class="container">
	<div class="col-sm-6 col-sm-offset-3">
		<button class="pull-right btn btn-primary" ng-click="home.open()">Create</button>

		<table class="table table-striped table-bordered">
			<tr>
				<th>S.No</th>
				<th>Task</th>
				<th>Created At</th>
				<th>Updated At</th>
				<th>Status</th>
				<th></th>
			</tr>
			<tr></tr>
</table>

	</div>
</div>
<div class="star-rating">
<span uib-rating ng-model="home.rate" max="home.max" state-on="'fa fa-star'" state-off="'fa fa-star-o'"></span>
</div>

 <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <ul>
                <li ng-repeat="item in $ctrl.items">
                    <a href="#" ng-click="$event.preventDefault(); $ctrl.selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ $ctrl.selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
    </script>